<!DOCTYPE html>
<!--Web by SAVT-->
<html>
<head>
	<title>Trash_heap</title>
	<meta charset="utf-8"><!--кодировка-->
	<style type="text/css">
		#header { /* Верхний блок */
    		background-color: #36A3F4; /* Цвет фона */
    		padding: 10px; /* Поля вокруг текста */
    		text-align: center;
   		}

   		body{
   			margin: 0;
   		}
	</style>
</head>
<body>
	<header>
		<div id="header">
			<h1>SAVT trash heap</h1>
		</div>
	</header>
	<a href="/game">Старт</a>
</body>
</html>