<!DOCTYPE html>
<html>
<head>
	<title>Trash_heap</title>
	<meta charset="utf-8"><!--кодировка-->
	<style type="text/css">
		td{
			width: 150px;
			height: 175px;
		}
		#os{
			background-color: #C6DD20;
			height: 350px;
		}

		.file{
			background-image: url(images/txt.png);
		}
	</style>
</head>
<body>
	<div id="os">
		<table>
			<tr><td id="00">
				<img src="images/trash_heap_not_trash.png" id="busket">
			</td>
			<td id="01">
					
			</td>
			<td id="02">
				
			</td>
			<td id="03">
				
			</td>
			<td id="04"></td>
			<td id="05">
				
			</td>
			</tr>
			<tr><td id="10"></td>
			<td id="11">
					
			</td>
			<td id="12">
				
			</td>
			<td id="13">
				
			</td>
			<td id="14"></td>
			<td id="15">
				
			</td></tr>
		</table>
	</div>
	<script type="text/javascript" src="js/busket.js"></script>
</body>
</html>